.pswp__preloader__icn {
	position: relative;
	z-index: 100;
}

.pswp__preloader__icn:before {
	content: '';
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.8);
}

.pswp__preloader__cut {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	overflow: hidden;
	-webkit-animation: clockwise 350ms linear infinite;
	animation: clockwise 350ms linear infinite;
}

.pswp__preloader__donut {
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	border: 3px solid rgb(77, 42, 20);
	border-radius: 50%;
	border-left-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: none;
	margin: 0;
	-webkit-animation: donut-rotate 1000ms cubic-bezier(.4, 0, .22, 1) infinite;
	animation: donut-rotate 1000ms cubic-bezier(.4, 0, .22, 1) infinite;
}


@-webkit-keyframes clockwise {
	0% {
		-webkit-transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes clockwise {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

@-webkit-keyframes donut-rotate {
	0% {
		-webkit-transform: rotate(0)
	}
	50% {
		-webkit-transform: rotate(-140deg)
	}
	100% {
		-webkit-transform: rotate(0)
	}
}

@keyframes donut-rotate {
	0% {
		transform: rotate(0)
	}
	50% {
		transform: rotate(-140deg)
	}
	100% {
		transform: rotate(0)
	}
}

.banner-blur,
.banner-teams {
	position: relative;
	margin-bottom: 52px;
	display: flex;
}

.banner-blur {
	margin-top: 50px;
}

.banner-blur.min-blur img {
	filter: blur(2px);
}

.banner-blur img,
.banner-teams img {
	min-width: calc(100vw - 24px);
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	border-radius: 30px;
}

.banner-blur:before{
	top: 0;
	left: 50%;
	bottom: 0;
	z-index: 1;
	content: '';
	position: absolute;
	border-radius: 30px;
	transform: translateX(-50%);
	background: rgba(0,0,0,0.3);
	min-width: calc(100vw - 24px);

}
.banner-blur img{
	height: calc(50vw - 2px);
	object-fit: cover;
	object-position: top center;
	filter: blur(15px);
}
.banner-blur-description{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.banner-blur .banner-blur-description h2{
	color: #fff;
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}
.banner-blur .banner-blur-description h2 i{
	font-style: italic;
	font-weight: 400;
	font-family: 'Merriweather', sans-serif;
}
.banner-blur-description .button{
	font-size: 17px;
	font-weight: 600;
	color: #000 !important;
	background: #fff !important;
	height: 52px;
	text-transform: uppercase;
	max-width: 292px;
	border-radius: 30px;
	border: none;
}
.banner-blur-description .button:not(.transparent):hover{
	background: #4D2A14 !important;
	color: #fff !important;
}
.banner-blur .banner-blur-description h5{
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 50px;

}
.banner-teams .banner-teams-desc{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 26px);
	background: #fff;
	padding: 30px 30px 0;
	border-radius: 30px 30px 0 0;
}
.banner-teams .banner-teams-desc h1{
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.4;
	text-align: center;
	margin-bottom: 0;
}
.banner-teams .banner-teams-desc:after,
.banner-teams .banner-teams-desc:before{
	content: '';
	position: absolute;
	width: 29px;
	height: 60px;
	background: #fff;
	bottom: 20px;
	-webkit-mask-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCo0LDRgF8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjMgNDMuNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjMgNDMuNTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwxMjIuMDAwMDAwKSBzY2FsZSgwLjEwMDAwMCwtMC4xMDAwMDApIj4KCTxwYXRoIGQ9Ik00MjcsMTk4Ny44Yy02Mi0yMS0xMzktOTAtMTY5LTE1MWMtMjMtNDYtMjMtNTQtMjgtNDM3Yy01LTM3MC02LTM5Mi0yNi00MzZjLTMxLTY3LTc4LTExNC0xNDYtMTQ5bC02MS0zMGgyNTEzaDI1MTMKCQlsLTYxLDMwYy02OCwzNS0xMTUsODItMTQ2LDE0OWMtMjAsNDQtMjEsNjYtMjYsNDM2Yy01LDM4My01LDM5MS0yOCw0MzdjLTMyLDY0LTEwNywxMzAtMTcyLDE1MWMtNDgsMTYtMjA2LDE3LTIwODQsMTYKCQlDNjY2LDIwMDMuOCw0NzAsMjAwMS44LDQyNywxOTg3Ljh6Ii8+CjwvZz4KPC9zdmc+Cg==");
	mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCo0LDRgF8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjMgNDMuNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjMgNDMuNTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwxMjIuMDAwMDAwKSBzY2FsZSgwLjEwMDAwMCwtMC4xMDAwMDApIj4KCTxwYXRoIGQ9Ik00MjcsMTk4Ny44Yy02Mi0yMS0xMzktOTAtMTY5LTE1MWMtMjMtNDYtMjMtNTQtMjgtNDM3Yy01LTM3MC02LTM5Mi0yNi00MzZjLTMxLTY3LTc4LTExNC0xNDYtMTQ5bC02MS0zMGgyNTEzaDI1MTMKCQlsLTYxLDMwYy02OCwzNS0xMTUsODItMTQ2LDE0OWMtMjAsNDQtMjEsNjYtMjYsNDM2Yy01LDM4My01LDM5MS0yOCw0MzdjLTMyLDY0LTEwNywxMzAtMTcyLDE1MWMtNDgsMTYtMjA2LDE3LTIwODQsMTYKCQlDNjY2LDIwMDMuOCw0NzAsMjAwMS44LDQyNywxOTg3Ljh6Ii8+CjwvZz4KPC9zdmc+Cg==");
	mask-mode: alpha;
	mask-repeat: no-repeat;
}
.banner-teams .banner-teams-desc:before{
	transform: translateX(-100%);
	left: 1px;
}
.banner-teams .banner-teams-desc:after{
	transform: translateX(100%);
	right: 1px;
	-webkit-mask-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCo0LDRgF8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjMgNDMuNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjMgNDMuNTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwxMjIuMDAwMDAwKSBzY2FsZSgwLjEwMDAwMCwtMC4xMDAwMDApIj4KCTxwYXRoIGQ9Ik0tNDM2NiwxOTg4Yy02Mi0yMS0xMzktOTAtMTY5LTE1MWMtMjMtNDYtMjMtNTQtMjgtNDM3Yy01LTM3MC02LTM5Mi0yNi00MzZjLTMxLTY3LTc4LTExNC0xNDYtMTQ5bC02MS0zMGgyNTEzSDIzMGwtNjEsMzAKCQljLTY4LDM1LTExNSw4Mi0xNDYsMTQ5Yy0yMCw0NC0yMSw2Ni0yNiw0MzZjLTUsMzgzLTUsMzkxLTI4LDQzN2MtMzIsNjQtMTA3LDEzMC0xNzIsMTUxYy00OCwxNi0yMDYsMTctMjA4NCwxNgoJCUMtNDEyNywyMDA0LTQzMjMsMjAwMi00MzY2LDE5ODh6Ii8+CjwvZz4KPC9zdmc+Cg==");
	mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI3LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCo0LDRgF8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjMgNDMuNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjMgNDMuNTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwxMjIuMDAwMDAwKSBzY2FsZSgwLjEwMDAwMCwtMC4xMDAwMDApIj4KCTxwYXRoIGQ9Ik0tNDM2NiwxOTg4Yy02Mi0yMS0xMzktOTAtMTY5LTE1MWMtMjMtNDYtMjMtNTQtMjgtNDM3Yy01LTM3MC02LTM5Mi0yNi00MzZjLTMxLTY3LTc4LTExNC0xNDYtMTQ5bC02MS0zMGgyNTEzSDIzMGwtNjEsMzAKCQljLTY4LDM1LTExNSw4Mi0xNDYsMTQ5Yy0yMCw0NC0yMSw2Ni0yNiw0MzZjLTUsMzgzLTUsMzkxLTI4LDQzN2MtMzIsNjQtMTA3LDEzMC0xNzIsMTUxYy00OCwxNi0yMDYsMTctMjA4NCwxNgoJCUMtNDEyNywyMDA0LTQzMjMsMjAwMi00MzY2LDE5ODh6Ii8+CjwvZz4KPC9zdmc+Cg==");
}
.banner-teams .banner-teams-desc .button{
	height: 52px;
	text-transform: uppercase;
	border: 0.06rem solid rgba(0, 0, 0, 0.33);
	border-radius: 30px;
	max-width: 314px;
	padding: 0 !important;
	margin: 10px auto 0;
}
.doctors-category:before{
	top: 0;
	left: 50%;
	bottom: 0;
	content: '';
	position: absolute;
	border-radius: 1.25rem;
	width: calc(100vw - 24px);
	transform: translateX(-50%);
	background: rgb(249, 249, 249);
	z-index: -1;
}
.doctors-category{
	position: relative;
	padding-top: 54px;
}
.doctors-category-filter h2{
	font-size: 35px;
	font-weight: 400;
	line-height: 120%;
	text-align: center;
	font-family: 'Merriweather', sans-serif;

}
.doctors-category-filter{
	background: #fff;
	border-radius: 10px;
	padding: 30px 20px;
}
.doctors-category-wrapper{
	margin: 30px 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
}
.doctors-category-menu.slick-dotted.slick-slider{
	margin-bottom: 0;
}
.doctors-category-wrapper.brown h3{
	color: #fff;
}
.doctors-category-wrapper.brown .doctors-category-menu li.active a{
	background: #fff;
	color: #111 !important;
}
.doctors-category-wrapper.brown .doctors-category-menu li.active:after{
	background: #fff;
	color: #111;
}
.doctors-category-wrapper.brown .doctors-category-menu li:not(.active) a{
	background: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.64);
}
.doctors-category-wrapper.brown .doctors-category-menu li:not(.active) a:hover{
	background: #fff;
	color: #111;
}
.doctors-category-wrapper.brown{
	border-radius: 10px;
	background: rgb(77, 42, 20);
	padding: 30px 20px;
}
.doctors-category-wrapper h3{
	font-size: 35px;
	font-weight: 400;
	line-height: 120%;
	color: #fff;
}
.doctors-category-menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	flex: 1 1;
}
.doctors-category-menu li a{
	font-size: 17px;
	font-weight: 600;
	color: #757575;
	background: #E4E4E4;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 52px;
	width: 100%;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 30px;
	position: relative;
	transition: all 0.3s ease;
	margin: 0;
	text-align: center;
	padding: 0 50px;
}
.doctors-category .doctors-category-menu a:hover{
	background: #4D2A14;
	color: #fff;
}
.doctors-category-menu  li:not(.slick-slide):not([id]){
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	width: calc((100% - 132px) / 5);
	flex: 1 1;
}
.doctors-category-menu .slick-dots{
	align-items: center;
	justify-content: center;
}
.doctors-category-menu .slick-dots li button{
	display: none;
}
.doctors-category-menu .slick-dots li.slick-active{
	background: #4D2A14;
}
.doctors-category-menu .slick-dots li[role="presentation"]{
	width: fit-content;
	width: 7px;
	height: 7px;
	background: #D9D9D9;
	border-radius: 50%;
	margin: 0 6px;
	flex: inherit;
}
.doctors-category-menu li.active:after{
	content: '';
	position: relative;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #4D2A14;
	font-family: custom-icons;
	content: '\ea02';
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
.doctors-profiles{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 22px;
	margin-top: 40px;
}
.doctors-profiles .photo{
	position: relative;
	display: flex;
	flex-direction: column;
	container-type: inline-size;
}
.doctors-profiles .photo .tag{
	position: absolute;
	top: 20px;
	left: 20px;
	border: 1px solid rgba(0, 0, 0, 0.33);
	background: rgb(255, 255, 255);
	padding: 0 10px;
	height: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	font-weight: 600;
}
.doctors-profiles .photo img{
	border-radius: 10px;
	width: 100%;
	height: calc(100cqw * 1.5);
	object-fit: cover;
	object-position: center;
}
.doctors-profiles h6{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	color: #6D6D6D;
	margin-bottom: 20px;
}
.doctors-profiles .button{
	max-width: 100%;
	border: 1px solid rgb(77, 42, 20);
	height: 52px;
	border-radius: 30px;
	background: #fff !important;
	color: #4D2A14 !important;
	text-transform: uppercase;
	font-size: 17px !important;
	font-weight: 600 !important;
}
.doctors-profiles .more:after{
	width: 7px;
	height: 7px;
	content: '';
	top: -2px;
	right: -7px;
	position: relative;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	transform: rotate(45deg);
	display: inline-block;
}
.doctors-profiles .more.arrow-top:after{
	transform: rotate(225deg);
	top: 2px;
}
.doctors-profiles .doctors-profile-description .button:hover{
	background-color: #4D2A14 !important;
	color: #fff !important;
}
.doctors-profiles h3{
	font-size: 25px;
	font-weight: 400;
	line-height: 1.2;
	font-style: italic;
	font-family: 'Merriweather', sans-serif;
	margin-bottom: 20px;
}
.doctors-profiles .doctors-profile-description{
	padding: 30px 20px;
}
.doctors-profiles .more{
	font-size: 16px;
	font-weight: 600;
	line-height: 130%;
	color: #000;
	text-decoration: none;
	position: relative;
}
.doctors-profiles .hide h5{
	font-size: 16px;
	font-weight: 700;
	line-height: 130%;
	text-transform: uppercase;
}
.doctors-profiles .hide p{
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
	margin-bottom: 20px;
}

.doctors-profiles .hide{
	display: none;
}
.doctors-profiles .doctors-profile{
	width: calc((100% - 44px) / 3);
}
.doctors-category-menu li.active {
	width: calc((100% + 128px) / 5);
	gap: 2px;
}
.doctors-category-menu li.active a{
	background: #4D2A14;
	color: #fff !important;
	width: calc(100% - 54px);
}
.doctors-category-menu .slick-list{
	container-type: inline-size;
	width: 100%;
}
.doctors-category-menu .slick-list li.active {
/*	width: calc((100cqw + 128px) / 5);*/
	width: fit-content;

}
.doctors-category-menu .slick-list li{
/*	width: calc((100cqw - 132px) / 5);*/
	width: fit-content;
}
.doctors-category-menu .slick-track{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	gap:20px;
}
.doctors-category-menu .slick-slide{
	display: flex !important;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.doctors-category-menu .slick-dots{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.before-after-block {
	margin-bottom: 115px;
	position: relative;
}
.before-after-block h2{
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.slider-before-after{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 25px 0 0;
	width: calc((100vw - 1326px) / 2 + 1326px);
	position: static;
}
.slider-before-after .slick-list{
	width: 100%;
	margin-top: 65px;

}
.slider-before-after img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.before-after-block .icon-arrow-left{
	order: -1;
	transform: translateX(calc(-50% - 50px));
}
.before-after-block .icon-arrow-right {
	order: -1;
	transform: translateX(calc(-50% + 50px));
}
.before-after-block .icon-arrow-left:before,
.before-after-block .icon-arrow-right:before{
	font-size: 27px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.before-after-block .icon-arrow-left:hover:before,
.before-after-block .icon-arrow-right:hover:before{
	background: #4D2A14;
	color: #fff;
}
.before-after-block .icon-arrow-left,
.before-after-block .icon-arrow-right{
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 60px;

}
.services-wrapper h1{
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.services-wrapper .sline{
	border-color: transparent;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin: 50px 0;
}
.services-wrapper h2{
	font-size: 35px;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
	font-family: 'Merriweather', sans-serif;
	margin-bottom: 60px;
}
.services-wrapper h2 strong{
	font-style: italic;
	font-weight: 700;
	display: block;
}
.doctors-category-table{
	margin: 70px 0 130px;
}
.doctors-category-table .tr{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
	padding-bottom: 35px;
}
.doctors-category-table .tr:not(:first-of-type){
	padding-top: 60px;
}
.doctors-category-table .th{
	width: 336px;
	padding-right: 25px;
}
.doctors-category-table .td:nth-of-type(2){
	flex: 1 1;
	padding-right: 25px;
}
.doctors-category-table .td:last-of-type{
	width: 314px;
}
.doctors-category-table .td:nth-last-of-type(2){
	width: 305px;
}
.doctors-category-table .th h3{
	font-size: 26px;
	font-weight: 400;
	line-height: 1.2;
	font-family: 'Merriweather', sans-serif;
	margin-top: 0;
}
.doctors-category-table .td:nth-of-type(2) p{
	margin-bottom: 30px;
}
.doctors-category-table .td p{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	color: #111;
}
.doctors-category-table .td a.more:after {
	width: 7px;
	height: 7px;
	content: '';
	top: -1px;
	right: -2px;
	position: relative;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	transform: rotate(-45deg);
	display: inline-block;
}
.doctors-category-table .td .clock,
.doctors-category-table .td .price{
	border: 1px solid rgb(0, 0, 0);
	padding: 0px 22px;
	height: 52px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	font-size: 17px;
	font-weight: 600;
	color: #111;
	width: 150px;
}
.doctors-category-table .td .button{
	min-width: 314px;
	border-radius: 30px;
	height: 52px;
	text-transform: uppercase;
	font-size: 17px !important;
	font-weight: 600 !important;
	margin: 0;
}
.doctors-category-table .td a{
	font-size: 16px;
	font-weight: 600;
	line-height: 1.3;
	text-decoration: none;
	color: #111;
}
.services-description {
	margin-bottom: 126px;
}
.services-description .col-lg-4 {
	margin-top: 1.5rem;
}
.services-description .col-lg-4:nth-of-type(2n) *{
	height: 100%;
}
.services-description .col-lg-4:nth-of-type(2n) img{
	object-fit: cover;
	object-position: center;
	width: 100%;
}
.services-description .col-lg-4 > .vc_column-inner{
	border-radius: 30px;
	background: rgb(249, 249, 249);
	height: 100%;
	overflow: hidden;

}
.services-description .col-lg-4:nth-of-type(2n-1) > .vc_column-inner{
	padding: 30px 40px;
}
.services-description .col-lg-4:nth-of-type(2n-1) img{
	width: initial;
}
.services-description h3{
	font-size: 26px;
	font-weight: 400;
	line-height: 1.2;
	font-family: 'Merriweather', sans-serif;
	margin: 50px 0 20px !important;
}
.services-description .wpb_text_column{
	margin-bottom: 0 !important;
}
.services-description p{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}
.slider-before-after .slick-track{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 22px;
}
.slider-before-after .slider-item{
	border-radius: 25px;
	overflow: hidden;

}
.brown .doctors-category-menu .slick-dots li{
	background: rgba(217, 217, 217, 0.35);
}
.brown .doctors-category-menu .slick-dots li.slick-active{
	background: #fff;
}
.datepicker .datepicker-inline{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.datepicker .datepicker-months{
	order: -1;
	display: block !important;
}
.datepicker table{
	width: 100%;
}
.datepicker table tr{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: -47px;
}
.datepicker table tr th,
.datepicker table tr td{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.ui-datepicker-header .icon-left:before,
.ui-datepicker-header .icon-right:before{
	font-size: 10px;
	width: 27.75px;
	height: 27.75px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.3s ease;
	cursor: pointer;
}
.ui-datepicker-header .icon-left:hover:before,
.ui-datepicker-header .icon-right:hover:before{
	background: #4D2A14;
	color: #fff;
}
.ui-datepicker-header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.ui-datepicker-title{
	order: -1;
	margin-right: auto;
	width: 100px;
}
.datepicker table tbody{
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.appointment{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 25px;
	align-items: flex-start;
}
.appointment .left-block{
	width: calc(100% - 572px);
}
.appointment .right-block{
	width: 547px;
	border-radius: 30px;
	background: rgb(250, 250, 250);
	padding: 30px;
}
.datepicker table thead tr:last-of-type{
	margin-bottom: 7px;
}
.datepicker table day{
	font-size: 12px;
}
.datepicker table .ui-datepicker-current-day a{
	color: #fff;
	font-weight: 700;
	background: #4D2A14;
}
.datepicker table td a{
	text-decoration: none;
	color: #000;
	font-size: 12px;
	font-weight: 400;
}
.datepicker table th{
	font-size: 12px;
	color: #808080;

}
.ui-datepicker-buttonpane,
.ui-datepicker-year{
	display: none;
}
.datepicker table td a,
.datepicker table th span,
.datepicker table td span{
	width: 27.75px;
	height: 27.75px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50% !important;
	font-size: 12px;
}
.datepicker table td span{
	color: #9c9c9c;
	pointer-events: none;
	margin-bottom: 15px;
}
.appointment .input input {
	border: 1px solid #EBEBEB;
	border-radius: 6px;
}
.appointment .clocks-radio{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}
.appointment .clocks-radio input{
	display: none;
}
.appointment .clock-radio{
	width: calc((100% - 30px) / 4);
}
.appointment .clock-block{
	margin-top: 44px;
	margin-bottom: 60px;
}
.appointment .clocks-radio input:checked + label{
	background: #4D2A14;
	color: #fff;

}
.appointment h2{
	font-size: 40px !important;
	font-weight: 700 !important;
	margin: 0 0 45px !important;
	text-transform: uppercase;
}
.appointment .button{
	max-width: 100%;
	height: 52px;
	width: 100%;
	border-radius: 26px;
	padding: 25px 0 0;
	margin-bottom: 0;
}
.appointment h3.price{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 40px 0 5px;
}
.appointment p{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.3;
	color: #B4B4B4;
}
.appointment .datepicker-block{
	overflow: hidden;
}
.appointment .datepicker-block .select2-container--default{
	width: 100% !important;
}
.appointment .datepicker-block .select2-container--default .select2-selection--single{
	border: 1px solid rgb(224, 227, 235);
	border-radius: 10px;
	width: 100%;
	height: 28px;

	background-color: transparent;
}
.appointment  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b,
.appointment  .select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-left: 1px solid #2B3134;
	border-bottom: 1px solid #2B3134;
	border-right: none;
	border-top: none;
	height: 5px;
	width: 5px;
	transform: rotate(-45deg);
}
.appointment .appointment  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	transform: rotate(-225deg);
}
.appointment .datepicker-block .select2-container--default .select2-selection__rendered{
	font-size: 14px;
	font-weight: 400;
	color: #2B3134;
	line-height: 26px !important;
}
.appointment h3.price span{
	margin-left: auto;
}
.appointment h3{
	font-size: 25px !important;
	font-weight: 600 !important;
	margin: 0 0 25px !important;
}
.appointment .clocks-radio label{
	height: 43px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #EBEBEB;
	border-radius: 22px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}
.appointment .select .select2-container--default{
	width: 100% !important;
}
.appointment .select2-dropdown{
	border: 1px solid rgb(224, 227, 235);
}
.appointment .select2-container--below.select2-container--open .select2-selection--single{
	border-radius: 10px 10px 0 0 !important;
}
.appointment .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
	background: #4D2A14 !important;
}
.appointment .select2-container--default .select2-results__option--selected{
	background: #EBEBEB !important;
}
.appointment  .select2-results__option{
	font-size: 14px !important;
	font-weight: 400;
	color: #2B3134;
}
.appointment .specialist label{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 20px;
	background: rgb(244, 244, 244);
	overflow: hidden;
	align-items: center;
	cursor: pointer;
	position: relative;
	padding-left: 140px;
}
.appointment h1{
	font-size: 40px !important;
	font-weight: 700 !important;
	text-transform: uppercase;
	display: inline-flex;
	width: calc(100% - 300px);
	padding-right: 10px;
	vertical-align: middle;
	margin: 30px 0 45px !important;
}
.appointment .select:before{
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	font-size: 20px;
}
.appointment .select{
	display: inline-flex;
	margin-right: auto;
	width: 295px;
	vertical-align: middle;
	position: relative;
	margin: 30px 0 45px !important;
}
.appointment .select .select2-selection--single{
	background: #FAFAFA;
	border: none !important;
	border-radius: 22px !important;
	padding-left: 40px;

}
.appointment .select .select2-container--default .select2-selection--single .select2-selection__arrow{
	width: 40px;
}
.appointment .datepicker-block .select2-container--default .select2-selection__rendered,
.appointment .select .select2-container--default .select2-selection__rendered{
	padding-top: 0;
	padding-bottom: 0;
}
.appointment .specialist input:checked + label h5{
	color: #fff;
}
.appointment .service input:checked + label,
.appointment .specialist input:checked + label{
	background: #4D2A14;
	color: #fff ;
	border: 1px solid #4D2A14;
}
.appointment .service input:checked + label:before,
.appointment .specialist input:checked + label:before{
	background: #fff !important;
	color: #4D2A14 !important;
	content: '\ea07';
}
.appointment .service{
	margin: 50px 0;
}
.appointment .service input{
	display: none;
}
.appointment .service,
.appointment  .specialist-block{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.appointment .service label{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 20px;
	background: #F4F4F4;
	overflow: hidden;
	position: relative;
	padding-left: 140px;
	border: 1px solid #F4F4F4;
	min-height: 78px;
	cursor: pointer;
}

.appointment .service label h5,
.appointment .specialist label h5{
	font-size: 17px;
	font-weight: 400;
	font-family: 'Merriweather', sans-serif;
	width: 270px;
	padding-right: 20px;
	min-height: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.appointment .service input:checked + label h5{
	color: #fff;
}
.appointment .service label:before,
.appointment .specialist label:before{
	order: 1;
	margin-left: auto;
	margin-right: 35px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #4D2A14;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}
.appointment .service label .icon-clock,
.appointment .specialist label .icon-clock{
	margin-right: 40px;
}
.appointment .service label .icon-price,
.appointment .service label .icon-clock,
.appointment .specialist label .icon-price,
.appointment .specialist label .icon-clock{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
	margin-bottom: 0;
}
.appointment .service label img,
.appointment .specialist label img{
	width: 99px;
	height: 100%;
	object-position: center top;
	border-radius: 0 12px 12px 0;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	object-fit: contain;
	background: #fff;
	object-position: center;
}
.appointment .specialist label img{
	object-fit: cover;
}
.appointment .specialist input{
	display: none;
}
.appointment .select .select2-dropdown{
	border: 0;
}
.appointment .service h3{
	margin-bottom: 0;
}
.confirmation{
	background: #FAFAFA;
	border-radius: 30px;
	padding: 30px;
	max-width: 750px;
	margin: 0 auto;
}
.confirmation h1{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}
.confirmation .confirm{
	border-radius: 30px;
	background: #2EC114;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-width: fit-content;
	padding: 0 10px 0 5px;
	gap: 10px;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
}
.confirmation .procedure p{
	font-size: 12px;
	font-weight: 400;
}
.confirmation .procedure h3{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}
.confirmation .procedure{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}
.confirmation .procedure .icon-marker{
	margin-left: auto;
}
.confirmation .procedure .icon-marker,
.confirmation .procedure .icon-xmark{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	position: relative;
	font-size: 12px;
	font-weight: 400;
	color: #11141A;
	text-align: center;
	transition: all 0.3s ease;
}
.confirmation .procedure .icon-marker:before,
.confirmation .procedure .icon-xmark:before{
	width: 60px;
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #11141A;
	font-size: 24px;
	transition: all 0.3s ease;
}
.confirmation .procedure .icon-xmark:before{
	font-size: 10px;
	color: #fafafa;
	z-index: 1;
}
.confirmation .procedure .icon-xmark:after{
	width: 24px;
	height: 24px;
	background: #11141A;
	border-radius: 50%;
	content: '';
	position: absolute;
	top: 30px;
	left: 30px;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease;
}
.confirmation .procedure .icon-xmark:hover,
.confirmation .procedure .icon-marker:hover{
	opacity: 0.5;
}
.confirmation .procedure img{
	border: 1px solid rgb(211, 211, 211);
	border-radius: 8px;
	width: 80px;
	height: 80px;
	object-fit: cover;
	object-position: center;
}
.confirmation .confirm:before{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 12px;
	color: #2EC114;
}
.confirmation .procedure-invoice {
	border: 1px solid rgb(211, 211, 211);
	border-radius: 10px;
	margin: 20px 0;
}
.confirmation h5{
	font-size: 15px;
	font-weight: 600;
	line-height: 24px;
}
.confirmation p{
	font-size: 14px;
	line-height: 21px;
}
.confirmation p + h5{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
}
.confirmation .procedure-invoice li{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 24px;
	font-size: 16px;
	font-weight: 600;
}
.confirmation .procedure-invoice li h4 i{
	font-size: 13px;
	font-weight: 400;
}
.confirmation .procedure-invoice li h4{
	display: flex;
	flex-direction: column;
	line-height: 24px;
	margin: 0;
	font-size: 16px;
	max-width: calc(100% - 110px);
}
.confirmation .procedure-invoice li:not(:last-of-type){
	border-bottom: 1px solid rgb(211, 211, 211);
}
.services-description-content .nav{
	display: flex;
	flex-direction: column;
	border:none;
	gap: 30px;
	margin-top: 120px;
}
.services-description-content .nav li{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	max-width: fit-content;
}
.services-description-content .nav li.active:before {
	background: #000;
}
.services-description-content .nav li.active a{
	color: #000;
}
.services-description-content .nav li:hover:before{
	background: #000;
}
.services-description-content .nav li:hover a{
	color: #000;
}
.services-description-content .nav li:before{
	content: '';
	width: 28px;
	height: 1px;
	background: rgba(17, 17, 17, 0.19);
	transition: all 0.3s ease;
}
.services-description-content .nav li a{
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	color: rgba(17, 17, 17, 0.19);
	transition: all 0.3s ease;
}
.services-description-content img{
	width: 563px;
	border-radius: 30px;
	display: inline-flex;
}
.services-description-content .content-text{
	flex: 1;
	display: inline-flex;
	flex-direction: column;
	padding-right: 20px;
}
.services-description-content .tab-pane{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 0;
}
.services-description-content .content-text p{
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
	color: #757575;
}
.services-description-content .content-text h1{
	font-size: 35px;
	font-weight: 400;
	font-family: 'Merriweather', sans-serif;
	margin-bottom: 20px;
}
.services-description-content .content-text blockquote{
	border-radius: 20px;
	background: rgb(249, 249, 249);
	padding: 25px;
	margin-bottom: 35px;
}
.services-description-content .content-text h2{
	font-size: 25px;
	font-weight: 400;
	line-height: 1.2;
	font-family: 'Merriweather', sans-serif;
	margin-top: 0;
}
.services-description-content .content-text ul{
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.services-description-content .content-text ul li{
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	padding-left: 30px;
}
.services-description-content .content-text ul li strong{
	font-weight: 700;
}
.services-description-content .content-text ul li:before{
	background: inherit;
	font-family: 'custom-icons';
	content: '\ea0c';
	width: inherit;
	height: inherit;
	top: 0;
	font-size: 16px;
	color: #4D2A14;

}
.services-description-content .content-text > ul{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
@media only screen and (max-width: 1429px) {
	.services-description .col-lg-4:nth-of-type(2n-1) > .vc_column-inner {
		padding: 30px 20px;
	}
	.services-description h3{
		margin: 35px 0 10px !important;
		font-size: 20px;
	}
	.services-description p {
		font-size: 14px;
	}
	.doctors-category-table .td:last-of-type{
		width: 250px;
	}
	.doctors-category-table .td .button {
		min-width: 250px;
		font-size: 14px !important;
	}
	.doctors-category-table .td .clock,
	.doctors-category-table .td .price{
		width: 125px;
		font-size: 14px;
	}
	.doctors-category-table .td:nth-last-of-type(2) {
		width: 260px;
	}
	.doctors-category-table .th {
		width: 280px;
	}
	.doctors-category-menu a {
		font-size: 14px;
	}
	.doctors-category-wrapper h3 {
		font-size: 24px;
	}
	.doctors-category-table .th h3 {
		font-size: 24px;
	}
	.appointment .left-block {
		width: calc(100% - 445px);
	}
	.appointment .service label h5,
	.appointment .specialist label h5{
		width: 220px;
	}
	.appointment .right-block{
		width: 420px;
	}
	.appointment h2,
	.appointment h1 {
		font-size: 32px !important;
	}
	.datepicker table tr{
		margin-right: -28px;
	}
	.appointment .clocks-radio label{
		font-size: 12px;
	}
	.services-description-content img {
		width: 440px;
	}
}
@media only screen and (max-width: 1199px) {
	.doctors-category-menu .slick-list li:not(.active){
		min-width: 188.8px;
	}
	.doctors-category-menu .slick-list li.active {
		min-width: 240.8px;
	}
	.doctors-profiles .button{
		font-size: 14px !important;
	}
	.slider-before-after{
		width: calc((100vw - 936px) / 2 + 936px);
	}
	.services-description h3 {
		 margin: 10px 0 10px !important;
	}
	.doctors-category-table .th {
		width: 220px;
	}
	.doctors-category-table .td p {
		font-size: 14px;
	}
	.doctors-category-table .td .button {
		min-width: 230px;
		font-size: 12px !important;
		height: 40px;
	}
	.doctors-category-table .td .clock, .doctors-category-table .td .price {
		width: 110px;
		font-size: 12px;
		height: 40px;
	}
	.doctors-category-table .td:last-of-type {
		width: auto;
	}
	.doctors-category-table .td:nth-last-of-type(2) {
		width: auto;
		margin-right: 5px;
	}
	.doctors-category-wrapper h3{
		width: 100%;
		text-align: center;
	}
	.appointment .right-block,
	.appointment .left-block {
		width: 100%;
	}
	.appointment .service label .icon-clock,
	.appointment .specialist label .icon-clock{
		margin-left: auto;
	}
	.datepicker table tr {
		margin-right: -115px;
	}
	.services-description-content .content-text > ul {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.services-description-content img {
		width: 380px;
	}
	.doctors-profiles .button{
		font-size: 14px !important;
	}
	.appointment .select {
		width: 100%;
	}
}
@media only screen and (max-width: 991px) {
	.services-wrapper h1,
	.banner-blur .banner-blur-description h2,
	.banner-teams .banner-teams-desc h1{
		font-size: 1.8rem;
	}
	.doctors-profiles .button,
	.banner-blur-description .button,
	.banner-teams .banner-teams-desc .button{
		font-size: 13px !important;
	}
	.services-wrapper h2,
	.before-after-block h2,
	.doctors-category-filter h2{
		font-size: 1.6rem;
	}
	.doctors-category-menu .slick-track{
		gap: 18px;
	}
	.doctors-profiles .doctors-profile {
		width: 100%;
	}
	.doctors-profiles .button{
		margin-bottom: 0;
	}
	.slider-before-after{
		width: calc((100vw - 696px) / 2 + 696px);
	}
	.doctors-category-table .th{
		width: 100%;
		margin-bottom: 20px;
	}
	.doctors-category-table .td:nth-of-type(2){
		width: 100%;
		flex: initial;
		padding-right: 0;
		margin-bottom: 30px;
	}
	.doctors-category-table .td:last-of-type{
		margin-left: auto;
	}
	.datepicker table tr {
		margin-right: -75px;
	}
	.services-description-content img{
		width: 100%;
		order: -1;
		margin-bottom: 20px;
	}
	.appointment .service label{
		padding-left: 115px;
	}
}
@media only screen and (max-width: 767px) {
	.banner-blur img, .banner-teams img{
		height: 368px;
		object-fit: cover;
		object-position: center top;
		border-radius: 15px;
	}
	.banner-teams img{
		min-width: 100vw;
	}
	.banner-teams .banner-teams-desc {
		border-radius: 15px 15px 0 0;
		padding: 15px 15px 0;
	}
	.services-wrapper h1,
	.banner-blur .banner-blur-description h2,
	.banner-teams .banner-teams-desc h1 {
		font-size: 22px;
		min-width: max-content;
	}
	.banner-teams .banner-teams-desc::after,
	.banner-teams .banner-teams-desc::before{
		width: 17px;
		height: 37px;
	}
	.banner-teams .banner-teams-desc .button{
		min-width: 274px;
		height: 35px;
	}
	.services-wrapper h2,
	.doctors-category-filter h2{
		font-size: 20px;
	}
	.doctors-category-menu a{
		height: 35px;
	}
	.doctors-category-menu li.active a{
		width: calc(100% - 37px);
	}
	.doctors-category-menu li.active::after{
		height: 35px;
		width: 35px;
		font-size: 13px;
	}
	.doctors-category-menu li a{
		font-size: 13px;
	}
	.doctors-category-menu .slick-list li.active {
		min-width: 168.8px;
	}
	.doctors-category-menu .slick-list li:not(.active) {
		min-width: 131.8px;
	}
	.doctors-category-filter{
		padding: 30px 20px 50px;
	}
	.doctors-category{
		padding: 20px 15px;
		margin-left: -12px;
		margin-right: -12px;

	}
	.doctors-category:before{
		width: 100vw;
	}
	.doctors-profiles .button{
		height: 40px;
	}
	.banner-blur-description h5{
		font-size: 9px;
		margin-bottom: 20px;
	}
	.banner-blur-description .button{
		margin: 30px 0 0;
		height: 40px;
	}
	.slider-before-after{
		width: calc((100vw - 516px) / 2 + 516px);
	}
	.before-after-block h2{
		font-size: 22px;
	}
	.before-after-block .icon-arrow-left,
	.before-after-block .icon-arrow-right{
		top: 40px;
	}
	.services-description h3 {
		margin: 30px 0 10px !important;
		font-size: 18px;
	}
	.services-description .col-lg-4 > .vc_column-inner {
		border-radius: 18px;
	}
	.services-wrapper .sline{
		margin: 30px 0;
	}
	.appointment .service label img,
	.appointment .specialist label img {
		width: 57px;
		height: 47px;
		margin-right: 10px;
	}
	.appointment .service label,
	.appointment .specialist label{
		padding-left: 67px;
		min-height: 47px;
	}
	.appointment .service label h5,
	.appointment .specialist label h5{
		font-size: 12px;
		min-height: inherit;
	}
	.appointment .service label h5,
	.appointment .specialist label h5 {
		width: 235px;
		margin: 0;
	}
	.appointment  label p {
		font-size: 9px;
	}
	.appointment .service label .icon-clock,
	.appointment .specialist label .icon-clock {
		margin-right: 10px;
	}
	.appointment .service label,
	.appointment .specialist label{
		border-radius: 12px;
	}
	.appointment .service label .icon-price,
	.appointment .service label .icon-clock,
	.appointment .specialist label .icon-price,
	.appointment .specialist label .icon-clock {
		gap: 4px;
	}
	appointment .specialist label:before{
		margin-left: auto;
	}
	.appointment .service label:before{
		margin-left: 15px;
		margin-right: 10px;
	}
	.appointment h3 {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.appointment .service {
		margin: 30px 0;
	}
	.appointment h2,
	.appointment h1{
		font-size: 22px !important;
	}
	.appointment h1{
		text-align: center;
		justify-content: center;
		width: 100%;
		margin-bottom: 20px !important;
	}
	.appointment .select{
		margin: 0 auto;
		display: table;
	}
	.appointment .clocks-radio label{
		font-size: 12px;
		height: 38px;
	}
	.datepicker table tr {
		margin-right: -40px;
	}
	.services-description-content .content-text h1{
		text-align: center;
		font-size: 22px;
	}
	.services-description-content .content-text p{
		text-align: center;
		font-size: 14px;
	}
	.services-description-content .content-text h2{
		font-size: 17px;
	}
	.services-description-content .content-text p br{
		display: none;
	}
	.services-description-content .content-text ul li{
		font-size: 14px;
	}
	.appointment .select {
		margin: 0px 0 25px !important;
	}
}
@media only screen and (max-width: 575px) {
	.slider-before-after {
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
	}
	.before-after-block .icon-arrow-left,
	.before-after-block .icon-arrow-right{
		top: 0;
		transform: translate(0);
	}
	.before-after-block .icon-arrow-left{
		left: 15px;
	}
	.before-after-block .icon-arrow-right{
		right: 15px;
		left: initial;
	}
	.doctors-category-table .td:last-of-type{
		width: 100%;
		margin-top: 20px;
	}
	.doctors-category-table .td .button {
		font-size: 14px !important;
		max-width: 100%;
	}
	.doctors-category-table .th h3 {
		font-size: 17px;
	}
	.doctors-category-table .tr{
		padding-bottom: 50px;
	}
	.doctors-category-filter{
		padding-right: 0;
	}
	.doctors-category-wrapper.brown{
		padding-bottom: 50px;
		padding-right: 0;
	}
	.services-wrapper h2{
		margin-bottom: 40px;
	}
	.doctors-category-table{
		margin-bottom: 100px;
	}
	.datepicker table tr {
		margin-right: 0;
	}
	.appointment .right-block{
		padding: 15px;
	}
	.datepicker table tr th,
	.datepicker table tr td{
		justify-content: center;
		align-items: center;
	}
	.confirmation{
		padding:30px 10px;
	}
	.confirmation h1 {
		font-size: 14px;
		display: inline-flex;
		line-height: 30px;
	}
	.confirmation .confirm{
		font-size: 8px;
		display: inline-flex;
		float: right;
	}
	.confirmation .procedure h3 {
		font-size: 12px;
	}
	.confirmation .procedure img{
		height: 82px;
	}
	.confirmation .procedure p {
		font-size: 8px;
		line-height: 1.2;
	}
	.confirmation .procedure .icon-marker,
	.confirmation .procedure .icon-xmark{
		font-size: 8px;
	}
	.confirmation .procedure .icon-marker::before,
	.confirmation .procedure .icon-xmark::before{
		width: 42px;
		height: 42px;
	}
	.confirmation .procedure .icon-xmark::after{
		left: 21px;
		top: 21px;
	}
	.confirmation .procedure-invoice li{
		font-size: 12px;
		padding: 10px;
	}
	.confirmation .procedure-invoice li h4{
		line-height: 1.2;
	}
	.confirmation .procedure-invoice li h4 i{
		font-size: 10px;
	}
	.confirmation h5 {
		font-size: 13px;
	}
	.confirmation p{
		font-size: 9px;
	}
	.services-description-content .content-text blockquote{
		border-radius: 20px;
	}
	.services-description-content  .nav-tabs{
		display: none;
	}
	.appointment .service label h5,
	.appointment .specialist label h5 {
		width: calc(100% - 160px);
	}
	.confirmation .procedure{
		width: 100%;
	}
	.confirmation .procedure-invoice li h4{
		font-size: 12px;
	}
}
@media only screen and (max-width: 414px) {
	.datepicker table th,
	.datepicker table td{
		flex: 1;
		width: inherit;
	}
	.appointment .service label h5, .appointment .specialist label h5 {
		font-size: 10px;
		width: calc(100% - 141px);
		padding-right: 10px;
	}
	.appointment .specialist label:before,
	.appointment .service label:before{
		width: 18px;
		height: 18px;
		font-size: 8px;
		margin-left: 10px;
	}
	.appointment .specialist label:before{
		margin-left: auto;
		margin-right: 10px;
	}
}
